 <header>
    <div class="top">
      <div class="container">
        <div class="row">
          <div class="col-md-4 hidden-sm-down">
            <ul class="social-icon list-inline">
              <li class="list-inline-item"><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li class="list-inline-item"><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li class="list-inline-item"><a href=""><i class="fa fa-rss" aria-hidden="true"></i></a></li>
              <li class="list-inline-item"><a href=""><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
              <li class="list-inline-item"><a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
          </div>
          <div class="col-md-8 col-sm-12">
            <ul class="list-inline float-md-right mb-0 top-menu text-xs-center">
              <li class="list-inline-item">
                <form>
                  <div class="form-group mb-0 hidden-md-down">
                  <label for="formGroupExampleInput"><i class="fa fa-search" aria-hidden="true"></i></label>
                  <input type="text" class="form-control" id="formGroupExampleInput">
                </div>
                </form>
              </li>
              <li class="list-inline-item"><a href="">Support</a></li>
              <li class="list-inline-item"><a href="">Help</a></li>
              <li class="list-inline-item"><a href="">Sign in</a></li>
              <li class="list-inline-item"><a class="highlight" href="">Signup</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>