link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
link(href='https://fonts.googleapis.com/css?family=Baloo+Bhaina|Share+Tech+Mono', rel='stylesheet')
<link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
link(href='/css/styles.css', rel="stylesheet")

      