
body {
      font-family: calibri;
      background-image: url('/img/bck.jpg');
      background-size: cover;
      background-repeat: no-repeat;
}

.searchDiv {
      width: 55%;
}

.appTitle h1 a {
      font-family: 'Baloo Bhaina', cursive;
      padding-left: 50px;
      font-size: 65px;
      color: black;
      text-decoration: none;
}

.appTitle p {
      font-family: 'Share Tech Mono', monospace;
      padding-left: 80px;
      font-size: 35px;
}

.option {
      font-family: 'Share Tech Mono', monospace;
      font-size: 15px;
}

.analyseButton {
      font-family: 'Share Tech Mono', monospace;
      font-size: 15px;
}

.imageInfo {
      display: flex;
      justify-content: flex-start;
}
.image {
      width: 400px;
      padding-left: 50px;
}

.info {
      align-self: center;
      margin-left: 15px
}

.list-group-item {
      
      font-family: 'Share Tech Mono', monospace;
      background: transparent;
      font-size: 20px;
      font-weight: bold;
}

img {
      width: 100%;
}
