<div class="appTitle">
    <h1><a href="#!/">vizago</a></h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Upload photo for analysis</strong> <small> </small></div>
                <div class="panel-body">
                    <div class="input-group image-preview">
                        <input ng-model="file.name" placeholder="" type="text" class="form-control image-preview-filename" ng-disabled="true">
                        <!-- don't give a name === doesn't send on POST/GET -->
                        <span class="input-group-btn">
              <!-- image-preview-clear button -->
              <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
              <span class="glyphicon glyphicon-remove"></span> Clear </button>
                        <!-- image-preview-input -->
                        <div class="btn btn-default image-preview-input">
                            <span class="glyphicon glyphicon-folder-open"></span>
                            <span class="image-preview-input-title">Browse</span>
                            <input ngf-select="fileSelected($files)" type="file" accept="'image/*'" name="file" />
                            <!-- rename it -->
                        </div>
                        <button ng-click="uploadFile()" type="button" class="btn btn-labeled btn-primary">
                            <span class="btn-label">
                <i class="glyphicon glyphicon-upload"></i>
              </span>Upload</button>
                        </span>
                    </div>
                    <!-- /input-group image-preview [TO HERE]-->
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img class="img-responsive" ng-src="{{ imageLink }}" alt="">
        </div>
    </div>
    <div class="imageInfo">
        <div ng-show="faceData" class="info col-md-6">
            <!-- <ul class="infoList"> -->
            <ng-gauge size="150" type="arch" thick="15" value="faceData.age_est.value" cap="round" label="Age" append="years"></ng-gauge>
            <ng-gauge size="150" type="arch" thick="15" value="faceData.anger.confidence" cap="round" label="Anger" append="confidence"></ng-gauge>
            <ng-gauge size="150" type="arch" thick="15" value="faceData.disgust.confidence" cap="round" label="Disgust" append="confidence"></ng-gauge>
            <ng-gauge size="150" type="arch" thick="15" value="faceData.fear.confidence" cap="round" label="Fear" append="confidence"></ng-gauge>
            <ng-gauge size="150" type="arch" thick="15" value="faceData.happiness.confidence" cap="round" label="Happiness" append="confidence"></ng-gauge>
            <ng-gauge size="150" type="arch" thick="15" value="faceData.happiness.confidence" cap="round" label="Happiness" append="confidence"></ng-gauge>
            <ng-gauge size="150" type="arch" thick="15" value="faceData.sadness.confidence" cap="round" label="Sadness" append="confidence"></ng-gauge>
            <ng-gauge size="150" type="arch" thick="15" value="faceData.surprise.confidence" cap="round" label="Surprise" append="confidence"></ng-gauge>
            <ng-gauge size="150" type="arch" thick="15" value="faceData.mood.confidence" cap="round" label="Mood" append="confidence"></ng-gauge>
            <ng-gauge size="150" type="arch" thick="15" value="faceData.neutral_mood.confidence" cap="round" label="Neutral" append="confidence"></ng-gauge>
            <!--    <li>Estimated age: {{ faceData.age_est.value }}</li>
                <li>The gender is: {{ faceData.gender.value }}</li>
                <li>Wearing glasses: {{ faceData.glasses.value }}</li>
                <li>Mood: {{ faceData.mood.value }}</li> -->
            <!--  </ul> -->
        </div>
    </div>
</div>
