<div class="appTitle">
    <h1><a href="#!/">vizago</a></h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Upload photo for analysis</strong> <small> </small></div>
                <div class="panel-body">
                    <div class="input-group image-preview">
                        <input ng-model="file.name" placeholder="" type="text" class="form-control image-preview-filename" ng-disabled="true">
                        <!-- don't give a name === doesn't send on POST/GET -->
                        <span class="input-group-btn">
              <!-- image-preview-clear button -->
              <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
              <span class="glyphicon glyphicon-remove"></span> Clear </button>
                        <!-- image-preview-input -->
                        <div class="btn btn-default image-preview-input">
                            <span class="glyphicon glyphicon-folder-open"></span>
                            <span class="image-preview-input-title">Browse</span>
                            <input ngf-select="fileSelected($files)" type="file" accept="'image/*'" name="file" />
                            <!-- rename it -->
                        </div>
                        <button ng-click="uploadFile()" type="button" class="btn btn-labeled btn-primary">
                            <span class="btn-label">
                <i class="glyphicon glyphicon-upload"></i>
              </span>Upload</button>
                        </span>
                    </div>
                </div>
                <div class="panel-body" ng-show="faceData">
                    <div class="panel-body row metrics">
                        <ul class="list-group col-xs-6">
                            <li class="list-group-item">
                                <h3>Attributes</h3></li>
                            <li class="list-group-item">Est age: {{faceData.age_est.value}}</li>
                            <li class="list-group-item">Gender: {{faceData.gender.value}}</li>
                            <li class="list-group-item">Mood: {{faceData.mood.value}}</li>
                            <li class="list-group-item">Smiling: {{faceData.smiling.value}}</li>
                            <li class="list-group-item">Surprise: {{faceData.surprise.value}}</li>
                            <li class="list-group-item">Happiness: {{faceData.happiness.value}}</li>
                            <li class="list-group-item">Disgust: {{faceData.disgust.value}}</li>
                            <li class="list-group-item">Anger: {{faceData.anger.value}}</li>
                            <li class="list-group-item">Fear: {{faceData.fear.value}}</li>
                            <li class="list-group-item">Sadness: {{faceData.sadness.value}}</li>
                            <li class="list-group-item">Glasses: {{faceData.glasses.value}}</li>
                            <li class="list-group-item">Sunglasses: {{faceData.dark_glasses.value}}</li>
                        </ul>
                        <ul class="list-group col-xs-6 barList">
                            <li class="list-group-item">
                                <h3>Confidence</h3></li>
                            <li class="list-group-item">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" ng-style="{'width': faceData.age_est.confidence + '%'}">
                                        {{faceData.age_est.confidence}}%
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" ng-style="{'width': faceData.gender.confidence + '%'}">
                                        {{faceData.gender.confidence}}%
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" ng-style="{'width': faceData.mood.confidence + '%'}">
                                        {{faceData.mood.confidence}}%
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" ng-style="{'width': faceData.smiling.confidence + '%'}">
                                        {{faceData.smiling.confidence}}%
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" ng-style="{'width': faceData.surprise.confidence + '%'}">
                                        {{faceData.surprise.confidence}}%
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" ng-style="{'width': faceData.happiness.confidence + '%'}">
                                        {{faceData.happiness.confidence}}%
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" ng-style="{'width': faceData.disgust.confidence + '%'}">
                                        {{faceData.disgust.confidence}}%
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" ng-style="{'width': faceData.anger.confidence + '%'}">
                                        {{faceData.anger.confidence}}%
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" ng-style="{'width': faceData.fear.confidence + '%'}">
                                        {{faceData.fear.confidence}}%
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" ng-style="{'width': faceData.sadness.confidence + '%'}">
                                        {{faceData.sadness.confidence}}%
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" ng-style="{'width': faceData.glasses.confidence + '%'}">
                                        {{faceData.glasses.confidence}}%
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" ng-style="{'width': faceData.dark_glasses.confidence + '%'}">
                                        {{faceData.dark_glasses.confidence}}%
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img class="img-responsive" ng-src="{{ imageLink }}" alt="">
        </div>
    </div>
    <div ng-show="faceData" class="info col-md-offset-1 col-md-8">
        <ng-gauge size="250" type="arch" thick="15" value="faceData.lie" cap="round" label="Lie Detector" append="%"></ng-gauge>
    </div>
</div>
