<div class="appTitle">
    <h1><a href="#!/">vizago</a></h1>
</div>
<div class="container compare">
    <form id="togglingForm" ng-submit="compareUrl()" class="form-horizontal">
        <div class="form-group">
            <div class="col-xs-9 searchDiv1">
                <input autofocus ng-model="source1" type="text" class="col-xs-10 form-control" name="source1" required data-fv-notempty-message="url is required" placeholder="Paste your url here" />
            </div>
            <div class="col-xs-9 searchDiv2">
                <input ng-model="source2" type="text" class="col-xs-10 form-control" name="source2" required data-fv-notempty-message="url is required" placeholder="Paste your url here" />
            </div>
            <div class="col-xs-9 compareButton">
                <button type="submit" class="btn btn-primary analyseButton" data-toggle="#jobInfo">Compare</button>
                <a ng-show="compareData" socialshare socialshare-provider="twitter" socialshare-text="Chekout this face comparison with VIZAGO - the biometrics app for all..." socialshare-hashtags="vizago, skylabrocks" socialshare-url="{{address}}"><img class="btn" src="/img/tweet.png" alt=""></a>
                <a ng-show="compareData" socialshare socialshare-provider="facebook" socialshare-description="Chekout this face comparison with VIZAGO - the biometrics app for all..." socialshare-hashtags="#vizago, #skylabrocks" socialshare-url="{{address}}"><img class="btn" src="/img/facebook.png" alt=""></a>
            </div>
            <div class="social">
            </div>
        </div>
    </form>
    <div class="compareInfo row">
        <div class="image1 col-6 col-md-4" ng-show="source1">
            <img src="{{ source1 }}" class="photo1">
        </div>
        <div class="match col-6 col-md-4">
            <ng-gauge ng-show="compareData" size="300" min="0" max="100" type="arch" thick="15" value="compareData.confidence" cap="round" label="{{match}}" append="%"></ng-gauge>
        </div>
        <div class="image2 col-6 col-md-4" ng-show="source2">
            <img src="{{ source2 }}" class="photo2">
        </div>
    </div>
</div>
