<div class="bg">
<div class="jumbotron">
    <div class="container">
        <h1><a href="#!/">vizago</a></h1>
        <p>Face recognition technology for all...</p>
        <!-- <p><a class="btn btn-primary btn-lg" href="" role="button">Learn more</a></p> -->
    </div>
</div>
</div>
<div class="container vizagoOptions">
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <a href="#!/analysePhoto"><img class="imgDA" src="/img/wireframe.jpg"></a>
                <div class="caption">
                    <h3>Detect & Analyse</h3>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <a href="#!/comparePhoto"><img class="imgC" src="/img/display-dummy.jpg"></a>
                <div class="caption">
                    <h3>Compare</h3>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <a href="#!/login"><img class="imgL" src="/img/eyescanner.jpg"></a>
                <div class="caption">
                    <h3>Login</h3>
                </div>
            </div>
        </div>
    </div>
</div>
