
.compare {

    .form-group {

        .searchDiv1 {
            margin-bottom: 1%;
        }

        .searchDiv2 {
            margin-top: 1%;
            margin-bottom: 1%;
        }
    
        .compareButton {
            margin-top: 1%;
            font-family: 'Share Tech Mono', monospace;
            font-size: 50%;

            a > img {
              height: 60px;
              padding: 0;
              margin-left: -10px;
            }
        }
    }
}

.compareInfo {

    img {
        width: 100%; 
    }

}



