/** {border: solid red 1px;}*/

.bg {
    background: url('/img/bck.jpg') no-repeat center center;
    background-size: 100%;
    position: static;
    width: 100%;
    height: 650px; /*same height as jumbotron */
    top:0;
    left:0;
    z-index: -1;
}

.jumbotron{
  margin-top: 0px;
  margin-bottom: 0px;
  height: 650px;
  background:transparent;

  h1 a{
      text-decoration: none;
      font-family: 'Baloo Bhaina', cursive;
      color: black;
      font-size: 150%;
  }

  p {
    font-family: 'Share Tech Mono', monospace;
    font-size: 190%;
  }
}

.vizagoOptions {

	   margin-top: 20px;

	.caption h3 {
		font-family: 'Share Tech Mono', monospace;
      	font-size: 2em;
		color: white;
	}
	.thumbnail {
		border: transparent;
		background: black;



		.imgDA { width: 65%; } 
    .imgC { width: 94%; }
    .imgL { width: 100%; }
	}
}




