/*@import 'pages/navbar';*/
/** {border: solid red 1px;}*/
.bg {
  background: url("/img/bck.jpg") no-repeat center center;
  background-size: 100%;
  position: static;
  width: 100%;
  height: 650px;
  /*same height as jumbotron */
  top: 0;
  left: 0;
  z-index: -1; }

.jumbotron {
  margin-top: 0px;
  margin-bottom: 0px;
  height: 650px;
  background: transparent; }
  .jumbotron h1 a {
    text-decoration: none;
    font-family: 'Baloo Bhaina', cursive;
    color: black;
    font-size: 150%; }
  .jumbotron p {
    font-family: 'Share Tech Mono', monospace;
    font-size: 190%; }

.vizagoOptions {
  margin-top: 20px; }
  .vizagoOptions .caption h3 {
    font-family: 'Share Tech Mono', monospace;
    font-size: 2em;
    color: white; }
  .vizagoOptions .thumbnail {
    border: transparent;
    background: black; }
    .vizagoOptions .thumbnail .imgDA {
      width: 65%; }
    .vizagoOptions .thumbnail .imgC {
      width: 94%; }
    .vizagoOptions .thumbnail .imgL {
      width: 100%; }

.barList > li > div {
  margin-bottom: 0px; }

.metrics > ul > li:nth-child(1) > h3 {
  margin: 0px; }

.compare .form-group .searchDiv1 {
  margin-bottom: 1%; }

.compare .form-group .searchDiv2 {
  margin-top: 1%;
  margin-bottom: 1%; }

.compare .form-group .compareButton {
  margin-top: 1%;
  font-family: 'Share Tech Mono', monospace;
  font-size: 50%; }
  .compare .form-group .compareButton a > img {
    height: 60px;
    padding: 0;
    margin-left: -10px; }

.compareInfo img {
  width: 100%; }

.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px; }

/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center; }

.upload-drop-zone.drop {
  color: #222;
  border-color: #222; }

.image-preview-input {
  position: relative;
  overflow: hidden;
  margin: 0px;
  color: #333;
  background-color: #fff;
  border-color: #ccc; }

.image-preview-input input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0); }

.image-preview-input-title {
  margin-left: 2px; }

body {
  background: #4e94c7;
  /* Old browsers */
  background: -moz-linear-gradient(top, #4e94c7 0%, #ddf1f9 65%, #feffff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #4e94c7 0%, #ddf1f9 65%, #feffff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #4e94c7 0%, #ddf1f9 65%, #feffff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-repeat: no-repeat;
  background-width: 100vh;
  background-height: 100vh; }

.appTitle h1 {
  margin-left: 5%; }
  .appTitle h1 a {
    font-family: 'Baloo Bhaina', cursive;
    color: black;
    font-size: 150%;
    text-decoration: none; }
