header .top {
  background-color: #3B3B3B; }

header .top .social-icon {
  margin-bottom: 0;
  margin: 10px 0; }

header .top .social-icon a {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  background-color: #484848;
  display: block;
  text-align: center;
  color: #FFFFFF;
  font-size: 13px; }

header .top .social-icon a:hover {
  background-color: #454545;
  color: #61A615; }

header .top .top-menu {
  margin: 0;
  padding: 10px 0; }

header .top .top-menu a {
  line-height: 30px;
  height: 30px;
  text-transform: uppercase;
  padding: 0 15px;
  color: #fff;
  font-size: 11px; }

header .top .top-menu a.highlight {
  background-color: #61A615;
  display: block;
  border-radius: 2px; }

header .top .top-menu .form-group {
  position: relative; }

header .top .top-menu .form-group label {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 14px;
  color: #888; }

header .top .top-menu .form-group .form-control {
  background-color: #484848;
  border: none;
  height: 30px; }

/** {border: solid red 1px;}*/
.bg {
  background: url("/img/bck.jpg") no-repeat center center;
  background-size: 100%;
  position: static;
  width: 100%;
  height: 400px;
  /*same height as jumbotron */
  top: 0;
  left: 0;
  z-index: -1; }

.jumbotron {
  margin-bottom: 0px;
  height: 400px;
  background: transparent; }
  .jumbotron h1 a {
    text-decoration: none;
    font-family: 'Baloo Bhaina', cursive;
    color: black;
    font-size: 150%; }
  .jumbotron p {
    font-family: 'Share Tech Mono', monospace;
    font-size: 190%; }

.vizagoOptions {
  margin-top: 20px; }
  .vizagoOptions .caption h3 {
    font-family: 'Share Tech Mono', monospace;
    font-size: 2em;
    color: white; }
  .vizagoOptions .thumbnail {
    border: transparent;
    background: black; }
    .vizagoOptions .thumbnail .imgDA {
      width: 65%; }
    .vizagoOptions .thumbnail .imgC {
      width: 94%; }
    .vizagoOptions .thumbnail .imgL {
      width: 100%; }

/*@vizagoBlue = rgb(160,207,234);*/
#togglingForm > div {
  margin-left: 20px; }

.imageInfo .image img {
  max-width: 100%;
  max-height: 100%; }

.compare .form-group .searchDiv1 {
  margin-bottom: 1%; }

.compare .form-group .searchDiv2 {
  margin-top: 1%;
  margin-bottom: 1%; }

.compare .form-group .compareButton {
  margin-top: 1%;
  font-family: 'Share Tech Mono', monospace;
  font-size: 50%; }

.compareInfo img {
  width: 100%; }

/*
body {
    background:url('/img/tron__grid.jpg') no-repeat;
    background-size: cover;
    background-height: 100vh;
}
*/
body {
  background: #4e94c7;
  /* Old browsers */
  background: -moz-linear-gradient(top, #4e94c7 0%, #ddf1f9 65%, #feffff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #4e94c7 0%, #ddf1f9 65%, #feffff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #4e94c7 0%, #ddf1f9 65%, #feffff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-repeat: no-repeat;
  background-width: 100vh;
  background-height: 100vh; }

.appTitle h1 {
  margin-left: 5%; }
  .appTitle h1 a {
    font-family: 'Baloo Bhaina', cursive;
    color: black;
    font-size: 150%;
    text-decoration: none; }
