@import 'pages/navbar';
@import 'pages/home';
@import 'pages/analysePhoto';
@import 'pages/comparePhoto';

/*
body {
    background:url('/img/tron__grid.jpg') no-repeat;
    background-size: cover;
    background-height: 100vh;
}
*/

